 body {
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     background-color: rgb(42, 42, 42);
 }
 
 #head-text {
     color: white;
     align-items: flex-end;
     margin-right: 5vmin;
 }
 
 #game-board {
     background-color: rgb(31, 111, 140);
     width: 100vmin;
     height: 100vmin;
     margin-right: auto;
     display: grid;
     grid-template-rows: repeat(21, 1fr);
     grid-template-columns: repeat(21, 1fr);
 }
 
 .snake {
     background-color: hsl(123, 56%, 62%);
 }
 
 .food {
     background-color: hsl(50, 100%, 50%);
     border: .25vmin solid rgb(255, 255, 255);
 }